@media only screen and (max-width: 910px) {
    nav .menu {
      display: flex;
    }
    nav ul {
        --height: 0px;
    
        flex-direction: column;
        background: var(--nav-bg);
        position: absolute;
        width: 100%;
        left: 0;
        top: 70px;
        height: var(--height);
        transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
    }
    nav ul.active {
        --height: calc(
          (((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childrenNumber)
        );
        transition: 1s ease;
    }
  
    nav ul li {
      width: 100%;
      text-align: center;
    }
    nav ul li a {
      width: 100%;
    }
}

@media only screen and (min-width: 1280px) {
    header {
        top: 24px;



}


@media only screen and (max-width: 375px) {
    section#services div.images {
        flex-direction: column;
    }

    section#product_description {
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }

    section#product_line div#product_cards {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* padding-bottom: 93; */
    }

    section#product_line div.button {
        background: rgba(0, 0, 0, 0.69);
        position: fixed;
        /* margin: 16 0 40 0; */
        bottom: 0px;
        /* padding: 0; */
        z-index: 999;
    }

    section#service_request div#form div.row {
        flex-direction: column;
    }

    footer div#footer {
        flex-direction: column; 
    }

    footer section#contact_us {
        flex-direction: column; 
        align-items: center;
    }

    footer section#contact_us div#usa {
        align-items: center;
        /* margin: 0; */
    }

    footer section#contact_us div#usa div.address {
        align-items: center;
    }

    footer section#contact_us div#canada {
        align-items: center;
        /* margin: 0; */
    }

    footer section#contact_us div#canada div.address {
        align-items: center;
    }
}






















/* section#hero div.text {
    padding-top: 653px;
    width:100%;
    text-transform: uppercase;
} */

/* section#hero div.text h2 {
    padding-top: 653px;
    width:100%;
    text-transform: uppercase;
    margin: 0;
} */

/* section#hero div.text h1 {
    padding-top: 653px;
    width:100%;
    text-transform: uppercase;
    margin: 0 0 39 0;
} */

/* section#hero img {
    display: flex;
    padding-bottom: 68px;
    border: 0;

} */

/* section#services {
    background-color: #383838;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #FFFFFF;
} */

/* section#services div.text {
    padding-top: 80px;
    text-transform: uppercase;
} */


/* section#services .separator {
    margin-bottom: 78.25;
} */

/* section#services div.images {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
} */

/* section#services img.photo {
    height: 250px;
    width: 250px;
} */

/* section#product_description {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
    color: #292929;
} */

/* section#product_description div.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 5.21%;
    padding-right: 6.04%;
    text-align: left;
} */

/* section#product_description div.text h5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 5.21%;
    padding-right: 6.04%;
    margin: 129 0 0 0;
    text-align: left;
} */

/* section#product_description div.text h4 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 5.21%;
    padding-right: 6.04%;
    margin: 4 0 24 0;
    text-align: left;
} */

/* section#product_description div.text p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 5.21%;
    padding-right: 6.04%;
    margin: 0 0 126 0;
    text-align: left;
} */

/* section#product_description img {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 80;
    padding-bottom: 80;
} */


/* section#product_line {
    background-color: #FF7630;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:#FFFFFF;
} */

/* section#product_line .separator {
    margin-bottom: 64.5;
} */

/* section#product_line div#product_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20 0 20;
    width: 100%;
} */

section#product_line div.product_card {
    display: flex;
    flex-direction: column;
    color: #383838;
    width: 255px;
    padding-top: 20;
}

section#product_line div.legend {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 103px ;
}

section#product_line div.legend h6 {
    /* margin: 0 0 31.22 0; */
}

section#product_line div.legend .title {
    text-transform: uppercase;
    /* margin: 14.38 0 6.06 0; */
}

section#product_line div.button {
    height: 19.08%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid #FFFFFF;
    /* padding: 14 36 14 36; */
    /* margin-bottom: 116px; */
    /* margin-top: 92px; */
    text-transform: uppercase;
    font-size: 18px;
}

section#product_line div.button h6 {
    /* margin: 0; */
}


section#service_request {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section#service_request div.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF7630;
}

section#service_request div.text h5 {
    color:#292929;
}

section#service_request .separator {
    /* margin-bottom: 52.5; */
}

section#service_request div#form {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #292929;
    width: 100%;
}

form {
    /* padding-bottom: 104; */
    width: 34.58%;
}

input:required:invalid {
    background-color: thistle;
}

form:invalid button {
    opacity: 0.3;
    pointer-events: none;
}


section#service_request fieldset {
    border: none;
    display:table-row;
    width: 100%;
    /* padding: 0; */
    text-transform: uppercase;
}

section#service_request fieldset div.row {
    display: flex;
}

section#service_request div.field {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section#service_request div.field label {
    display: flex;
}

section#service_request div.field input {
    /* padding: 18 0 16 23; */
}

section#service_request div.field select {
    /* padding: 18 0 16 23; */
    /* margin-left: 1.81% */
}

section#service_request div.button {
    color: #292929;
    border: 3px solid;
    border-color: #292929;
    /* margin: 47 0 104 0; */
    /* padding: 14 0 14 0; */
}

section#service_request div.button h6{
    /* margin: 0; */
    text-transform: uppercase;
}

footer div#footer {
    display: flex;
    justify-content: space-around;
    background-color:#292929;
    /* padding: 100 0 101 0; */
}

section#contact_us {
    color:#292929;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: uppercase;
}

section#contact_us div.country h6 {
    /* margin: 80 0 7 0; */
    color: #FF7630;
}

section#contact_us div#usa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 4.65%; */
}

section#contact_us div#usa div.address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section#contact_us div#canada {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin-right: 4.65%; */
}

section#contact_us div#canada div.address {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section#contact_us div.address p {
    /* margin: 0; */
}

footer div#rights p {
    color:#292929;
    /* margin: 86 0 37 0; */
}

